# FastAPI & Uvicorn
fastapi==0.104.1
uvicorn[standard]==0.24.0

# Validación de datos
pydantic==2.5.0
pydantic-settings==2.1.0
python-dotenv==1.0.0

# Web Scraping
beautifulsoup4==4.12.2
requests==2.31.0
lxml==4.9.3
httpx==0.25.1
selenium==4.15.2
undetected-chromedriver==3.5.5
setuptools

# Database
sqlalchemy==2.0.36
psycopg2-binary==2.9.10


#Kakfa
kafka-python==2.3.0
confluent-kafka==2.1.3